* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
html::before {
  background-image: url(../images/Background/bg2.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  content: "";
  position: absolute;
  width: 100%;
  height: 335rem;
  z-index: -1;
}
header {
  display: flex;
  height: 12rem;
  width: 100%;
  position: fixed;
  z-index: 12;
  background-color: white;
  top: 0;
  justify-content: space-between;
}

.contact {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .links {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-size: 1.5rem;
}
.contact .links i {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: burlywood;
}
.contact .links a {
  text-decoration: none;
  color: burlywood;
}
.contact .links a:first-child {
  cursor: text;
}
.logo {
  width: 27%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 50%;
  height: 100%;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #574d83;
  position: fixed;
  z-index: 12;
  width: 100%;
  top: 12rem;
}
.navbar li {
  margin-right: 10rem;
  font-size: 1.5rem;
  padding: 1rem;
  transition: 0.5s;
}
.navbar li:hover {
  border-bottom: 2px solid burlywood;
}

.navbar li a {
  text-decoration: none;
  color: white;
  transition: 0.5s all ease-in;
}
.navbar li a:hover {
  color: burlywood;
}

/* slider */
.overlay {
  position: absolute;
  z-index: 1;
  top: 23rem;
  padding: 6rem;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  font-style: italic;
  letter-spacing: 4px;
  font-size: 28px;

}
.overlay .name::before{
  content: "";
  position: absolute;
  width: 37%;
  height: 25rem;
  background-color: burlywood;
  z-index: -1;
  opacity: 0.7;
  border-radius: 1rem;
}
.overlay .name {
  padding: 5rem;
  box-shadow: 4px 2px 5px 2px black;
  width: 33%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 1rem;
  line-height: 8rem;
}
.slowFade {
  display: flex;
  align-items: flex-start;
  background: #fff;
  height: 60rem;
  overflow: hidden;
  position: relative;
  top: 14rem;
}
.slowFade .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  height: auto;
  background: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transform: scale(1.5);
  -webkit-animation: slowFade 32s infinite;
  animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}
@keyframes slowFade {
  25% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes slowFade {
  25% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 0;
  }
}
/* Slider End */

/* welcome */
.welcome {
  width: 100%;
  height: 180px;
  color: white;
  margin-top: 14rem;
  border: 1px solid black;
}
.welcome::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #574d83;
  z-index: -1;
  height: 18rem;
  opacity: 0.9;
}
.welcome .title {
  text-align: center;
  line-height: 4.5rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.welcome .contact {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.4rem;
}
.welcome .contact i {
  margin-right: 0.7rem;
  background-color: white;
  color: #574d83;
  padding: 0.5rem;
  border-radius: 1.2rem;
}
.welcome .contact a {
  margin-right: 0.7rem;
  text-decoration: none;
  color: white;
}
/* welcome end */

/* First Content */
.content1 {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  background-color: white;
}
.content1 .img {
  width: 45rem;
  height: 43rem;
  margin-top: 6.5rem;
}
.content1 .img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.content1 .content {
  width: 45%;
  margin-top: 6.5rem;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  margin-left: 53px;
}
.content1 .content h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.content1 .content p {
  margin-bottom: 5rem;
}
/* First Content End */

/* Second Content Start */
.content2 {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  background-color: white;
}
.content2 .img {
  width: 45rem;
  height: 43rem;
  margin-top: 6.5rem;
}
.content2 .img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.content2 .content {
  width: 45%;
  margin-top: 6.5rem;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  margin-right: 100px;
}
.content2 .content h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.content2 .content p {
  margin-bottom: 5rem;
}
/* Second Content End */

/* Menu Start */
.explore-menu {
  width: 100%;
  height: 45rem;
  position: relative;
  background-color: white;
}
.explore-menu .heading {
  text-align: center;
  position: absolute;
  top: 3rem;
  width: 100%;
  font-size: 1.2rem;
}
.explore-menu .menu-items {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 11rem;
  width: 100%;
}
.explore-menu .menu-items .menu-img {
  width: 35rem;
  height: 25rem;
  margin-right: 3rem;
}
.explore-menu .menu-items .menu-img img {
  width: 100%;
  height: 100%;
}
/* Menu End */

/* Dinning Start */
.dinning {
  width: 100%;
  height: 60rem;
  background-color: white;
}
.dinning .heading {
  text-align: center;
  font-size: 1.2rem;
}
.dinning .display {
  width: 83%;
  height: 330px;
  margin: auto;
  background-image: url(../images/image2.jpeg);
  background-attachment: fixed;
  margin-top: 3rem;
}
.dinning .info {
  text-align: center;
  font-size: 16px;
  width: 100%;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.dinning .info p {
  width: 70%;
  line-height: 2.5rem;
}
/* Dinning End */

/* Amenities */
.amenities {
  width: 100%;
  height: 30rem;
  text-align: center;
  background-color: white;
}
.amenities h1 {
  font-size: 20px;
  margin-bottom: 4rem;
}
.amenities .list {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 2rem;
  width: 70%;
  margin: auto;
  font-size: 16px;
}
/* Amenities End */

/* Footer */
.footer {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #574d83;
  color: white;
  top: 7.8rem;
}
.footer hr {
  width: 97%;
  margin: auto;
  margin-top: 185px;
}
.footer i {
  font-size: 1.5rem;
  margin-right: 1rem;
  background: white;
  color: #574d83;
  padding: 0.3rem;
  border-radius: 1rem;
}
.footer .title {
  position: relative;
  text-align: center;
  line-height: 3.5rem;
  top: 3rem;
}
.footer .contact {
  display: flex;
  justify-content: center;
  margin-top: 6.5rem;
  width: 100%;
}
.footer a {
  margin-right: 3rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
.footer .nav {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  background-color: #574d83;
  padding: 1.6rem;
}
.footer .nav li {
  margin-right: 10rem;
  font-size: 1.5rem;
}
.footer .nav li a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}
.footer .nav li a:hover {
  opacity: 0.5;
}
/* Footer End*/
