{% extends 'home/base.html' %}
{% load static %}
{% block title %}About | Hotel Raje Shivray{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock css %}
{% block content %}
<!-- About Us -->
<div class="about-us">
    <div class="history">
      <h1>History Of Raje Shivray</h1>
      <hr />
      <div class="content">
        <div class="c">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
            magnam incidunt dolore quod voluptatum quasi quae soluta eveniet
            tempore perspiciatis neque sapiente facilis sit quaerat rerum
            aperiam, earum veritatis pariatur natus nobis eius id quis velit
            quibusdam. Excepturi natus voluptates, eos temporibus minima
            maiores tenetur! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aliquid, et saepe corrupti excepturi
            exercitationem perferendis. Ducimus, quos architecto sint totam
            tempore ipsam fuga accusamus pariatur aliquid hic, alias saepe.
            Quasi placeat dolorem sapiente ipsum neque? Molestiae animi
            impedit inventore amet sit, reprehenderit delectus unde
            consectetur.
          </p>

          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat
            quibusdam soluta odit voluptatibus iure eum architecto veritatis,
            optio quos, et beatae asperiores voluptates sit adipisci velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Accusamus, repellat distinctio. Asperiores id eos veniam quibusdam
            laborum amet, corrupti ratione.
          </p>
        </div>
        <div class="img">
          <img src="{% static 'about/images/img1.jpg' %}" alt="" />
        </div>
      </div>
    </div>

    <div class="d-menu">
      <h1>Our Delicious Menu</h1>
      <hr />
      <div class="content">
        <div class="menu">
          <div class="img">
            <img src="{% static 'about/images/Menu/Veg/img1.jpg' %}" alt="" />
          </div>
          <div class="img">
            <img src="{% static 'about/images/Menu/Nonveg/img1.jpg' %}" alt="" />
          </div>
          <div class="img">
            <img src="{% static 'about/images/Menu/colddrinks/img1.jpg' %}" alt="" />
          </div>
        </div>

        <div class="c">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat
            quibusdam soluta odit voluptatibus iure eum architecto veritatis,
            optio quos, et beatae asperiores voluptates sit adipisci velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Accusamus, repellat distinctio. Asperiores id eos veniam quibusdam
            laborum amet, corrupti ratione.
          </p>
        </div>
      </div>
    </div>

    <div class="c-environment">
      <h1>Calm Environment</h1>
      <hr />
      <div class="content">
        <div class="img">
          <img src="{% static 'about/images/img2.jpeg' %}" alt="" />
        </div>
        <div class="c">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
            magnam incidunt dolore quod voluptatum quasi quae soluta eveniet
            tempore perspiciatis neque sapiente facilis sit quaerat rerum
            aperiam, earum veritatis pariatur natus nobis eius id quis velit
            quibusdam. Excepturi natus voluptates, eos temporibus minima
            maiores tenetur! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aliquid, et saepe corrupti excepturi
            exercitationem perferendis. Ducimus, quos architecto sint totam
            tempore ipsam fuga accusamus pariatur aliquid hic, alias saepe.
            Quasi placeat dolorem sapiente ipsum neque? Molestiae animi
            impedit inventore amet sit, reprehenderit delectus unde
            consectetur.
          </p>

          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat
            quibusdam soluta odit voluptatibus iure eum architecto veritatis,
            optio quos, et beatae asperiores voluptates sit adipisci velit?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Accusamus, repellat distinctio. Asperiores id eos veniam quibusdam
            laborum amet, corrupti ratione.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- About Us End -->
{% endblock content %}